<h1>Import necessary libraries</h1>

In [51]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import ast

<h1>load the dataset!</h1>

In [52]:
data = pd.read_csv(r'C:\Users\salma\OneDrive\Desktop\SALMAN\ds-projects\netflix.csv')
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN
5803,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [53]:
data.head()

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5806 entries, 0 to 5805
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 5805 non-null   object
 1   type                  5806 non-null   object
 2   release_year          5806 non-null   int64
 3   age_certification     3196 non-null   object
 4   runtime               5806 non-null   int64
 5   genres                5806 non-null   object
 6   production_countries  5806 non-null   object
 7   seasons               2047 non-null   float64
 8   imdb_id               5362 non-null   object
 9   imdb_score            5283 non-null   float64
 10  imdb_votes            5267 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 499.1+ KB

In [55]:
data.shape

(5806, 11)

<h1>Data Cleaning</h1>

<h2>drop duplicates</h2>

In [56]:
data.drop_duplicates()
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN
5803,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

<h2>filling the missing values</h2>

In [57]:

data['seasons'].fillna(0, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\253182962.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['seasons'].fillna(0, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],0.0,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],0.0,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],0.0,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],0.0,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],0.0,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],0.0,NaN,NaN,NaN
5803,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",0.0,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],0.0,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [58]:
data['age_certification'].fillna('Uk', inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\236528137.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['age_certification'].fillna('Uk', inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],0.0,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],0.0,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],0.0,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],0.0,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],0.0,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],0.0,NaN,NaN,NaN
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",0.0,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],0.0,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [59]:
data.isnull().sum()

title                     1
type                      0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 444
imdb_score              523
imdb_votes              539
dtype: int64

In [60]:
data['title'].fillna(0, inplace=True)
data['imdb_score'].fillna(0, inplace=True)
data['imdb_votes'].fillna(0, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\1719728818.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['title'].fillna(0, inplace=True)
C:\Users\salma\AppData\Local\Temp\ipykernel_19656\1719728818.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['imdb_score'].fillna(0, inplace=True)
C:\Users\salma\AppData\Local\Temp\ipykernel_19656\1719728818.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['imdb_votes'].fillna(0, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,0.0,0.0
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],0.0,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],0.0,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],0.0,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],0.0,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],0.0,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],0.0,NaN,0.0,0.0
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",0.0,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],0.0,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [61]:
data.isnull().sum()

title                     0
type                      0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 444
imdb_score                0
imdb_votes                0
dtype: int64

In [62]:
data.drop('imdb_id', axis=1, inplace=True)

In [63]:
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,0.0,0.0
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],0.0,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],0.0,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],0.0,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],0.0,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],0.0,6.9,39.0
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],0.0,0.0,0.0
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",0.0,6.5,32.0
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],0.0,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,8.8,16.0

In [64]:
data['seasons'].replace(0, 1, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\931344194.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['seasons'].replace(0, 1, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,0.0,0.0
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],1.0,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],1.0,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],1.0,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],1.0,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],1.0,6.9,39.0
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],1.0,0.0,0.0
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",1.0,6.5,32.0
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],1.0,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,8.8,16.0

In [65]:
data['imdb_score'].replace(0, 1, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\4168370645.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['imdb_score'].replace(0, 1, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,1.0,0.0
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],1.0,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],1.0,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],1.0,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],1.0,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],1.0,6.9,39.0
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],1.0,1.0,0.0
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",1.0,6.5,32.0
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],1.0,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,8.8,16.0

In [66]:
mean_imdb_votes = data[data['imdb_votes'] != 0]['imdb_votes'].mean()
data['imdb_votes'].replace(0, mean_imdb_votes, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\2253913717.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['imdb_votes'].replace(0, mean_imdb_votes, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,1.0,23407.194988
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],1.0,8.3,795222.000000
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],1.0,8.2,530877.000000
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],1.0,8.0,392419.000000
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],1.0,8.1,391942.000000
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"['romance', 'drama']",['NG'],1.0,6.9,39.000000
5802,Edis Starlight,MOVIE,2021,Uk,74,"['music', 'documentation']",[],1.0,1.0,23407.194988
5803,Clash,MOVIE,2021,Uk,88,"['family', 'drama']","['NG', 'CA']",1.0,6.5,32.000000
5804,Shadow Parties,MOVIE,2021,Uk,116,"['action', 'thriller']",[],1.0,6.2,9.000000
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"['family', 'comedy', 'animation']",[],1.0,8.8,16.000000

In [67]:
data['genres'] = data['genres'].apply(lambda x: ', '.join(ast.literal_eval(x)))
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,documentation,['US'],1.0,1.0,23407.194988
1,Taxi Driver,MOVIE,1976,R,113,"crime, drama",['US'],1.0,8.3,795222.000000
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"comedy, fantasy",['GB'],1.0,8.2,530877.000000
3,Life of Brian,MOVIE,1979,R,94,comedy,['GB'],1.0,8.0,392419.000000
4,The Exorcist,MOVIE,1973,R,133,horror,['US'],1.0,8.1,391942.000000
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"romance, drama",['NG'],1.0,6.9,39.000000
5802,Edis Starlight,MOVIE,2021,Uk,74,"music, documentation",[],1.0,1.0,23407.194988
5803,Clash,MOVIE,2021,Uk,88,"family, drama","['NG', 'CA']",1.0,6.5,32.000000
5804,Shadow Parties,MOVIE,2021,Uk,116,"action, thriller",[],1.0,6.2,9.000000
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"family, comedy, animation",[],1.0,8.8,16.000000

In [68]:
data['production_countries'] = data['production_countries'].apply(lambda x: ', '.join(ast.literal_eval(x)) if isinstance(x, str) else x)
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,documentation,US,1.0,1.0,23407.194988
1,Taxi Driver,MOVIE,1976,R,113,"crime, drama",US,1.0,8.3,795222.000000
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"comedy, fantasy",GB,1.0,8.2,530877.000000
3,Life of Brian,MOVIE,1979,R,94,comedy,GB,1.0,8.0,392419.000000
4,The Exorcist,MOVIE,1973,R,133,horror,US,1.0,8.1,391942.000000
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"romance, drama",NG,1.0,6.9,39.000000
5802,Edis Starlight,MOVIE,2021,Uk,74,"music, documentation",,1.0,1.0,23407.194988
5803,Clash,MOVIE,2021,Uk,88,"family, drama","NG, CA",1.0,6.5,32.000000
5804,Shadow Parties,MOVIE,2021,Uk,116,"action, thriller",,1.0,6.2,9.000000
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,0,"family, comedy, animation",,1.0,8.8,16.000000

In [69]:
data['runtime'].replace(0, 44, inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\1318021298.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['runtime'].replace(0, 44, inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,documentation,US,1.0,1.0,23407.194988
1,Taxi Driver,MOVIE,1976,R,113,"crime, drama",US,1.0,8.3,795222.000000
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"comedy, fantasy",GB,1.0,8.2,530877.000000
3,Life of Brian,MOVIE,1979,R,94,comedy,GB,1.0,8.0,392419.000000
4,The Exorcist,MOVIE,1973,R,133,horror,US,1.0,8.1,391942.000000
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"romance, drama",NG,1.0,6.9,39.000000
5802,Edis Starlight,MOVIE,2021,Uk,74,"music, documentation",,1.0,1.0,23407.194988
5803,Clash,MOVIE,2021,Uk,88,"family, drama","NG, CA",1.0,6.5,32.000000
5804,Shadow Parties,MOVIE,2021,Uk,116,"action, thriller",,1.0,6.2,9.000000
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,44,"family, comedy, animation",,1.0,8.8,16.000000

<h2>Convert Data Types</h2>

In [70]:
data['seasons'] = data['seasons'].astype('Int64') 
data['imdb_votes'] = data['imdb_votes'].astype('int') 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5806 entries, 0 to 5805
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 5806 non-null   object
 1   type                  5806 non-null   object
 2   release_year          5806 non-null   int64
 3   age_certification     5806 non-null   object
 4   runtime               5806 non-null   int64
 5   genres                5806 non-null   object
 6   production_countries  5806 non-null   object
 7   seasons               5806 non-null   Int64
 8   imdb_score            5806 non-null   float64
 9   imdb_votes            5806 non-null   int64
dtypes: Int64(1), float64(1), int64(3), object(5)
memory usage: 459.4+ KB

In [71]:
# Detect and remove outliers in the 'runtime' column
data = data[(data['runtime'] >= lower_bound) & (data['runtime'] <= upper_bound)]
data

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,documentation,US,1,1.0,23407
1,Taxi Driver,MOVIE,1976,R,113,"crime, drama",US,1,8.3,795222
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"comedy, fantasy",GB,1,8.2,530877
3,Life of Brian,MOVIE,1979,R,94,comedy,GB,1,8.0,392419
4,The Exorcist,MOVIE,1973,R,133,horror,US,1,8.1,391942
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"romance, drama",NG,1,6.9,39
5802,Edis Starlight,MOVIE,2021,Uk,74,"music, documentation",,1,1.0,23407
5803,Clash,MOVIE,2021,Uk,88,"family, drama","NG, CA",1,6.5,32
5804,Shadow Parties,MOVIE,2021,Uk,116,"action, thriller",,1,6.2,9
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,44,"family, comedy, animation",,1,8.8,16

In [74]:
data['production_countries'].fillna('uk', inplace=True)
data

C:\Users\salma\AppData\Local\Temp\ipykernel_19656\3122529002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['production_countries'].fillna('uk', inplace=True)
C:\Users\salma\AppData\Local\Temp\ipykernel_19656\3122529002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['production_countries'].fillna('uk', inplace=True)

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,documentation,US,1,1.0,23407
1,Taxi Driver,MOVIE,1976,R,113,"crime, drama",US,1,8.3,795222
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"comedy, fantasy",GB,1,8.2,530877
3,Life of Brian,MOVIE,1979,R,94,comedy,GB,1,8.0,392419
4,The Exorcist,MOVIE,1973,R,133,horror,US,1,8.1,391942
...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,Uk,100,"romance, drama",NG,1,6.9,39
5802,Edis Starlight,MOVIE,2021,Uk,74,"music, documentation",,1,1.0,23407
5803,Clash,MOVIE,2021,Uk,88,"family, drama","NG, CA",1,6.5,32
5804,Shadow Parties,MOVIE,2021,Uk,116,"action, thriller",,1,6.2,9
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,Uk,44,"family, comedy, animation",,1,8.8,16